<footer class="footer mt-auto bg-primary">
    <div class="container" style="padding: 3rem;">
        <img src="/img/axoloteIcon" width="30" height="30" alt="">
        <span class="text-muted">
            Rodapé
        </span>
    </div>
</footer>