<!DOCTYPE html>
<html lang="pt-br">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title> <!--o titulo muda conforme a rota-->
       <link rel="stylesheet"
           href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
           <link rel="stylesheet" href="../public/css/styles.css">
   </head>
   <body>
       <!-- Navbar -->
       <%- include('partials/navbar') %>
       <!-- Main content -->
        <main class="main-base">
                <!-- Render the specific view content here -->
                <%- include(view) %>
            </div>
            <!-- Footer - rodape -->
            <%- include('partials/footer') %>
        </div>

       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
       <script
           src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
       <script
           src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   </body>
</html>